# Introduction to scikit learn
helps to demostrate somes of the useful function of its library

## An end to end sklearn workflow

In [5]:
# 1.Get the data ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
heart_disease =pd.read_csv("heart-disease.csv")

In [7]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
heart_disease.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
# Create X (feature matrix)
X=heart_disease.drop("target",axis=1)

# Create Y (label matrix)
Y=heart_disease["target"]

In [20]:
# 2. Choose the right model and  hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# default parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [21]:
# 2.Fit the data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [24]:
 clf.fit(X_train,Y_train);

In [30]:
# 3.make prediction
Y_preds=clf.predict(X_test)

In [31]:
Y_preds

array([0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1])

In [32]:
Y_test

257    0
84     1
68     1
177    0
136    1
      ..
33     1
26     1
148    1
152    1
296    0
Name: target, Length: 61, dtype: int64

In [33]:
# Evaluate the model on the training data test data
clf.score(X_train,Y_train)

1.0

In [34]:
# 4. Evaluate the model 
clf.score(X_test,Y_test)

0.7704918032786885

In [36]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, Y_preds))

              precision    recall  f1-score   support

           0       0.67      0.78      0.72        23
           1       0.85      0.76      0.81        38

    accuracy                           0.77        61
   macro avg       0.76      0.77      0.76        61
weighted avg       0.78      0.77      0.77        61

In [37]:
confusion_matrix(Y_test,Y_preds)

array([[18,  5],
       [ 9, 29]])

In [38]:
accuracy_score(Y_test,Y_preds)

0.7704918032786885

In [47]:
# 5.imporve a model
# try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators....")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators....
Model accuracy on test set: 81.97%

Trying model with 20 estimators....
Model accuracy on test set: 80.33%

Trying model with 30 estimators....
Model accuracy on test set: 77.05%

Trying model with 40 estimators....
Model accuracy on test set: 72.13%

Trying model with 50 estimators....
Model accuracy on test set: 78.69%

Trying model with 60 estimators....
Model accuracy on test set: 72.13%

Trying model with 70 estimators....
Model accuracy on test set: 77.05%

Trying model with 80 estimators....
Model accuracy on test set: 77.05%

Trying model with 90 estimators....
Model accuracy on test set: 80.33%

In [48]:
# 6.save a model and load it
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))